<html>
<head>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="../public/javascripts/client.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">
</head>
<body>
